<h1>Restaurants</h1>

<h1> <%= @restaurant.name %></h1>
<p> <%= @restaurant.address %></p>
<p> <%= @restaurant.phone_number %></p>
<p>
  <ul>
    <h5>Reviews:</h5>
  <% @restaurant.reviews.each do |review| %>
    <li> <%= review.content %> - rating: <%= review.rating %></li>
  <% end %>
  </ul>
</p>

<%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-primary" %>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-danger" %>

